<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body>
    <%- include('../partials/header'); -%>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 300px; margin-top: 50px;">
                    <img class="card-img-top apt-profile-picture rounded-circle"
                        src="<%= user.profilePicture ? user.profilePicture : '/images/default-user.png' %>"
                        alt="Profile Picture">
                    <% if (typeof currentUser !== 'undefined') {
                            if (currentUser.id === user.id) { %>
                    <input id="uploader" type="file" name="profilePicture" hidden>
                    <a id="uploadLink" class="edit-link" href="#" style="margin: auto">Cập nhật ảnh</a>
                    <% } %>
                    <% } %>
                    <hr class="my-4 apt-line-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
                        <p class="card-text"><i class="fa fa-envelope" style="margin-right: 15px;"></i><%= user.email %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div style="margin-top: 50px">
                    <h3>Chào, tôi là <%= user.firstName %></h3>
                    <p>
                        Tham gia vào <%= user.createdAt.getFullYear()%>
                        <% if (typeof currentUser !== 'undefined') {
                            if (currentUser.id === user.id) { %>
                        <b> · </b>
                        <a class="edit-link" href="#">Chỉnh sửa profile</a>
                        <% } %>
                        <% } %>
                    </p>
                    <hr class="my-3">
                    <h6>About</h6>
                    <% if (user.about) { %>
                    <p><%= user.about %></p>
                    <% } else { %>
                    <p>Chưa có.</p>
                    <% } %>
                    <h6>Listing</h6>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <%- include('../partials/footer'); -%>
    <script>
        $("#uploadLink").on('click', function (e) {
            e.preventDefault();
            $("#uploader").trigger('click');
        });
        $("#uploader").on('change', function (e) {
            e.preventDefault();
            var files = $("#uploader").get(0).files;
            var data = new FormData();

            if (files.length === 0) {
                alert('Select atleast 1 file to upload.');
                return false;
            }

            data.append('profilePicture', files[0], files[0].name);
            data.append('id', '<%= user.id %>');

            $.ajax({
                url: '/api/v1/users',
                method: 'put',
                data,
                processData: false,
                contentType: false,
                success: function (res) {
                    window.location.reload();
                },
                error: function (xhr) {
                    
                }
            });
        });
    </script>
</body>

</html>